@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



.fc-day-past {
  background-color: rgba(240, 240, 240, 0.10);
}

** {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {

  html,
  body {
    @apply p-0 m-0 font-montserrat max-w-screen-2xl mx-auto
  }

  .debug {
    @apply border border-red-500
  }

  .nav-item {
    @apply text-primary opacity-75 text-xs font-semibold md:text-base cursor-pointer relative no-underline after:content-[''] after:h-0.5 after:w-0 after:bg-primary after:absolute after:opacity-0 after:transition-all after:duration-[ease]  after:left-0 after:-bottom-0.5;
  }

  .nav-item:hover,
  .nav-item.active {
    @apply opacity-100;
  }

  .nav-item.active:hover {
    @apply text-black;
  }

  .nav-item:hover::after,
  .nav-item.active::after {
    @apply opacity-100 w-2/3;
  }

  .nav-item.active:hover::after {
    @apply opacity-0 w-0 transition-all duration-[ease] bottom-0 left-0;
  }
}